/*HEADER-------------------------------------------------*/

.page-header,
.NUlogo-main {
    position: absolute;
}

.page-header--home .NUlogo-main {

    width: 159px;

    margin-top: 82px;
    margin-right: 200px; 
}


.page-header--character .NUlogo-main {
    width: 133px;
    height: 50px;
    aspect-ratio: 1/1   ;

}

.page-header {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px; 
    background-color: aliceblue;
}

.page-header--home {
    background: url("/assets/headerbg.png") lightgray 50% / cover no-repeat;
}

.page-header-banner {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50%;
    display: block;
    background-color: lightgray 50%;
}

.switchbutton {
    background: rgba(210, 210, 216, 0.471);
    border-style: none;
    filter: invert(100%);
    width: 15px;
    height: 24px;
    border-radius: 24px;
    box-sizing: content-box;

    font-size:17px;
}

.character-profile {
    display: flex;
    align-items: center;
    gap: 12px;
    position: relative;
    z-index: 1;

    margin-top: 80px;
    margin-right: 200px;
}

.character-icon {
    width: 73px;
    height: 73px;
    border-radius: 21px;

}

.iconname {
    margin: 0;
}

.white-transition {
    width: 100%;
    height: 55px;
    margin-top: 102px;

    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 4.31%, #FFF 70.57%);
}

.icons-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 48px; 
  z-index: 2;
}

.right-icon-group {
    display: flex;
    align-items: center;
    gap: 12px;
}

.menu-icon {
    display: flex;
    
}

/*FOOTER---------------------------------------------------------------------*/
    
.footer {
    display: flex;
    width: 100%;
    height: 500px;
    flex-shrink: 0;
    padding: 20px;
    text-align: center;
    background-color: black
}
/*CATEGORY MENU--------------------------------------------------------------*/

.category-nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    padding: 10px 33px 7px 0px;
    gap: 15px;

    column-rule: 1px solid black;
    border-bottom: 1px solid black ;
}
.category-tab {
    opacity: 0.36;

    text-align: center;
    font-family: Inter;
    font-size: 13.967px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: black;
    text-decoration: none;

    background: none;
    border-style: none;
    
}

/*WARNING--------------------------------------------------------------------*/

.warning {
    background: black;
    width: 316px;
    min-height: 355px;
    border-radius: 31.731px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  


    position: fixed;

}

.warning-icon {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    background-color: #F235FF;
    width: 20px;
    height: 20px;
    border-radius: 23px;
}

.warning-title {
    color: #F235FF;
    text-align: center;
    font-family: "Andika New Basic";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

   
}


.warning-text {
    width: 268.707px;
    color: #FFF;
    text-align: center;
    font-family: "Andika New Basic";
    font-size: 9.654px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.warning-question {
    color: #8FC5E4;
    text-align: center;
    font-family: "Andika New Basic";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.warning-buttons {
    display: flex;
    flex-direction: column;

    gap: 6px;
}

.warning-button-yes {
    width: 238px;
    height: 28px;
    background: #8FC5E4;
    border-style: none;
    border-radius: 6px ;

    text-align: center;
    font-family: "Andika New Basic";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.warning-button-no {
    width: 238px;
    height: 28px;
    background: #C9C4B5;
    border-style: none;
    border-radius: 6px;


    text-align: center;
    font-family: "Andika New Basic";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/*CHARACTER SELECTOR-----------------------------------------------------------------------*/

.selector-box {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 600px;
    border-radius: 30px;

    z-index: 100;

    margin-top: 180px;
    background-color: rgb(138, 137, 137);

}

.character-select {

    display: flex;
    flex-direction: column;

    gap: 13px;
}


.characterselector-icon {

    padding: 20px;
    width: auto;
    height: 90px;

    /*change image icon*/


}

.poly-1 {
    width: 263.243px;
    height: 77.083px;
    transform: rotate(-25.545deg);
    fill: linear-gradient(249deg, rgba(255, 255, 255, 0.00) -50.39%, rgba(255, 167, 167, 0.50) 6.82%, rgba(255, 251, 192, 0.75) 31.16%, rgba(205, 255, 196, 0.88) 50.63%, #A7BFFF 73.14%);

}
.poly-2 {

}
.poly-3 {

}
.poly-4 {

}
.poly-5 {

}
.poly-6 {

}
.poly-7 {

}
.poly-8 {


}